<html>
	<head lang="en">
		<title>NodeJs Express And MySQL</title>
		<link type="text/css" rel="stylesheet" href="../css/stylesheet.css" />
		<link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div>
			<h2>Users</h2>
			<div id="contenedor" class="container" >
				<% users.forEach(function(user) { %>
					<dt><%= user.user_name %></dt>
					<dd><%= user.user_description %></dd>
					<p style="text-align: center">
						<img class='img-polaroid' width='300px' src='<%= user.user_img %>' />
					</p>
				<% }); %>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	</body>
</html>