<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8" />
	<title>Node.js Notificador</title>
	<link href="../css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<header id="encabezado">
		<label>
			<h1>Eliminar grupo musical</h1>
		</label>
	</header>
	<div class="container">
		<% users.forEach(function(user) { %>
	<form id="formulario" method="post">
		<label>Nombre del Vocalista/Cantante</label>
		<input type="text" maxlength=40"" id="nombre"
			   name="nombre"
			placeholder="Ingresa el nombre"
			required value='<%= user.user_name %>' disabled/>
		<label>Descripción</label>
		<input type="text" maxlength="100" id="desc"
			   name="desc"
			placeholder="Ingresa la descripción"
			required value='<%= user.user_description %>' disabled/>
		<label>Link de imagen</label>
		<input type="text" maxlength="100" id="link"
			   name="link"
			placeholder="Link"
			required value='<%= user.user_img %>' disabled/>
		<button>Eliminar</button>
	</form>
	<% }); %>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
</body>
</html>