<!DOCTYPE html>
<html ng-app="store">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="js/angular.min.js"></script>
<script src="js/controller.js"></script>
	<title>Angular</title>
</head>
<body>
<center>
	<div ng-controller="StoreController as store">
	<h1>{{"algo " + nombre1}}</h1>
	<h2>{{textin}}</h2>
	<input type="text" ng-model="textin" name="">
	<div>
		<h1>{{ product.name }}</h1>
		<h2>${{ product.price }}</h2>
		<p>{{ product.description }}</p>
	</div>
	<div>
		<input type="text" ng-model="nombre">
		<button class="btn btn-primary" ng-click="enviar(nombre)">Enviar</button>
	</div>
	<div ng-repeat="elemento in elementos track by $index">
		<li>{{ elemento }}</li>
	</div>
</div>
</center>
</body>
</html>


