<!doctype html>
<html ng-app="app">
  <head>
    <script src="../js/angular.min.js"></script>
      <script src="../js/controlle.js"></script>
    <title>Socket.IO chat</title>
	<link type="text/css" rel="stylesheet" href="../css/style.css" />
  </head>
  <body ng-controller="appChat as ac">
  {{algo}}
    <ul id="messages"></ul>
    <form action="">
      <input id="message" autocomplete="off" /><button>Send</button>
    </form>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
		<script src="/socket.io/socket.io.js"></script>
  </body>
</html>
