<html>
	<head lang="en">
		<title>NodeJs Express And MySQL</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link type="text/css" rel="stylesheet" href="../css/stylesheet.css" />
		<link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div>
			<h2>Users</h2>
			<a class="btn btn-primary" href="/insert">Insertar</a>
			<div id="contenedor" class="container" >
				<% users.forEach(function(user) { %>
					<dt><a class="btn btn-primary" href="/delete/<%= user.user_id %>">Eliminar</a></dt>
					<dt><a href='/update/<%= user.user_id %>'><%= user.user_name %></a></dt>
					<dd><a href='/update/<%= user.user_id %>'><%= user.user_description %></a></dd>
					<p style="text-align: center">
						<a href='/update/<%= user.user_id %>'><img class='img-polaroid' width='300px' src='<%= user.user_img %>' /></a>
					</p>
				<% }); %>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	</body>
</html>