body{
  color: white;
  background: #333;
  font-family: "Helvetica", Arial;
  font-size: 48px;
  text-align: center;
}
form
{
  background: #CCC;
  border-radius: 1em;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
  text-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  margin: 1em auto;
  padding: 1em;
  width: 40%;
}
form input
{
  display: block;
  font-size: 40px;
  margin: 1em auto;
  padding: 0.5em;
  width: 70%;
}
h1{color:white;}